.App {
  text-align: center;
  min-height: 100vh;
}
.header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: cadetblue;
}
.devName{
  position: fixed;
  right: 0px;
  bottom: 40px;
  background-color: #315f61;
  color: white;
  padding: 10px 20px;
}
@media (max-width:1177px) {
  .devName{
    right: -63px;
    bottom: 63px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
